extends layout

block content
  h1= title
  - let results = [{item_name:"Smart Watch", brand: "Apple", price: 250},{item_name:"Headphones", brand: "Samsung", price: 100},{item_name:"Camera", brand: "Canon", price: 1000}];

  div(class="container-fluid")
    div(class="row")
      each item in results
        div(class="col-sm-2")
          p #{item.item_name}
          p #{item.brand}
          p #{item.price}

